@charset "UTF-8";

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

:root{
    --color1: #000000;
    --color2: #ffffff;
    --color3: #7F95D1;
    --color4: #FF82A9;
    --color5: #FFC0BE;
    --color6: #FFEBE7;
    
}
form{
    background-color: var(--color1);
}
nav {
    width: 100%;
    margin: auto;
    height: 40px; 
    background-color: var(--cor2);
    
    border-bottom: 7px solid var(--color3);
}

nav > ul {
    margin: auto;
    align-content: center;
    display: block;
}

nav > ul > li {
    float: left; /* Coloca os itens da lista um do lado do outro */
    width: 150px; /* Configura o espaço horizontal de cada botão */
    height: 34px;
    text-align: center; /* Nome do item ficar centralizado no botão */
    font-size: 25px; /* Tamanho da letra */
    list-style: none; /* Tira o marcador de lista */
    padding: 6px 64px 0px 65px;
}

nav > ul > li:hover {
    background-color: var(--cor4);
    display: block;
}

nav > ul > li:hover > a{
    color: var(--cor7);
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--cor5);
}

/* 5º Passo */
nav > ul > li > ul {
    display: none;
}

/* 6º Passo */
nav > ul > li:hover > ul {
    display: block;
    position: relative;
    background-color: var(--cor2);
    width: 381px;
    right: 66px; /* Com esse parâmetro, você pode posicionar uma caixa na posição horizontal que você quiser. */
    top: 6px; /* Com esse parâmetro, você pode posicionar uma caixa na posição horizontal que você quiser. */
}

nav > ul > li > ul > li {
    list-style: none;
    padding: 4px 64px 0px 65px;
    height: 36px;
}

nav > ul > li > ul > li > a{
    color: var(--cor5);
    text-decoration: none;
}

nav > ul > li > ul > li:hover {
    background-color: var(--cor4);
}

nav > ul > li > ul > li:hover > a{
    color: var(--cor7);
}
main{
    background-color: var(--color4);
    width: 1000px;
    
    border: 2px groove var(--color6);
    margin: 30px;
    padding: 15px;
    
}


body {
    background-color: var(--color1);
}

p {
    color: var(--color1);
    padding-bottom: 15px;
    line-height: 1.1em;
    text-align: justify;
    padding: 15px;
    text-indent: 10px;
}


ul {
    color: var(--color1);
    background-color: var(--color3);
    padding-bottom: 15px;
    line-height: 1.1em;
    text-align: justify;
    padding: 15px;
    text-indent: 10px;
}

li {
    color: var(--color1);
    background-color: var(--color4);
    padding-bottom: 15px;
    line-height: 1.1em;
    text-align: justify;
    padding: 15px;
    text-indent: 10px;
}


h1 {
    color: var(--color6);
    background-color: var(--color3);
    padding-bottom: 15px;
    line-height: 1.1em;
    text-align: justify;
    padding: 15px;
    text-indent: 10px;
}

h2 {
    color: var(--color6);
    background-color: var(--color3);
    padding-bottom: 15px;
    line-height: 1.1em;
    text-align: justify;
    padding: 15px;
    text-indent: 10px;
}

h3 {
    color: var(--color6);
    background-color: var(--color3);
    padding-bottom: 15px;
    line-height: 1.1em;
    text-align: justify;
    padding: 15px;
    text-indent: 10px;
}

a {
    color: var(--color4);
    text-decoration: none;
}
ol{
    color: var(--color1);
    background-color: var(--color3);
    padding-bottom: 15px;
    line-height: 1.1em;
    text-align: justify;
    padding: 15px;
    text-indent: 10px;
}
label{
    color: var(--color5);
}
legend{
    color: var(--color5);
}